<!--Welcome to {{title}} {{anguların devreye girmesi için bu şekilde yazmamız gerekli}}-->
<!--Hello {{user}}
{{product1.productName}} javascript case sensitive dir.İsmi aynı şekilde yazman gerekli.-->

<!--  buit-in anguların kendi içerisinde hali hazırda gelen demektir.-->

<!--<ul>   
  ngFor=directive -->
  <!--<li *ngFor="let product of products">{{product.productName}}</li>


</ul>-->
<app-navi></app-navi>
<app-category></app-category>
<app-product></app-product>
<router-outlet></router-outlet>
